<style>
  {{ style|raw }}
</style>
<div class="dopup-block">
  <div class="dopup-close close-container">
    <div class="leftright"></div>
    <div class="rightleft"></div>
    <label class="close">close</label>
  </div>
  {{ webform }}
</div>
